
.profil {
  background-color: rgb(225, 164, 71);
  display: flex;
  align-items: center;
}
.video {
  background-color: rgb(217, 200, 174);
  height: 13rem;
  margin-inline: auto;
  border-radius: 15px;
}
.info {
  border-color: aqua;
}
.img-name {
  display: flex;
}
.name {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
}
